.promo-callback {
  box-sizing: border-box;
  border-radius: 1rem;
  max-width: 350px;
  min-width: 320px;
  border: 2px solid $coral;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2.5rem 1rem 2.5rem;
  background-color: $dirty-white;
  font-family: "Gotham Pro", sans-serif;
  text-align: center;

  &__head {
    margin-bottom: 2.5rem;
    letter-spacing: -0.1px;
    font-weight: 300;
    line-height: 1.2rem;

    span {
      font-weight: bold;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input-container {
    border: 1px solid $input-border-color;
    position: relative;
    margin-bottom: 1.3rem;
    height: 3.1rem;
    border-radius: 0.3rem;
  }

  &__input-title {
    position: relative;
    top: -0.7rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.8rem;
    background: $dirty-white;
  }

  &__input {
    position: relative;
    top: -0.7rem;
    box-sizing: border-box;
    width: 100%;
    height: 2.5rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: none;
    outline: none;
    background: $dirty-white; /*добавил серый фон*/
  }

  &__button {
    height: 3.5rem;
  }

  &__foot {
    font-size: 0.8rem;
    margin-top: 1rem;
  }
}