$huge: 1200px;
$large: 992px;
$medium: 768px;
$small: 480px;

$container-width: 1200px;

$white: #ffffff;
$coral: #fc635e;
$dirty-white: #f3f3f3;

$input-border-color: rgba(0,0,0,0.1);
$item-radius: 0.5rem;

$menu-background-color: rgba(0,0,0,0.9);
$document-background-color: #989898;
