$huge: 1200px;
$large: 992px;
$medium: 768px;
$small: 480px;

$color1: #ffffff;
$color2: #fc635e;

$inputBorderColor: rgba(0,0,0,0.1);
$button-radius: 0.5rem;

$menu-background-color: rgba(0,0,0,0.9);
