$maket-width: 1440px;

$huge: 1200px;
$large: 992px;
$medium: 768px;
$small: 480px;



//colors
$bg-color1: #131313;
$bg-color2: #ffffff;
$bg-color3: #E3B873;
$bg-color4: #252525;
$bg-color5: #181818;

$font-color: #ffffff;    
$font-color2: #E3B873;
$font-color3: #363636;
$font-color4: #181818;
$font-color5: #959595;

$button-color: #E3B873;
$button-border: #ffffff;
