  .footer {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 1rem;
    background: url('~../assets/img/footer-background.png') no-repeat;
    background-size: cover; 
    background-position: left top;
    background-color: $document-background-color;
    height: 15.6rem;

  &-left {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: left;

    @media(max-width: $large) { 
      width: 100%;
    }
  }

  &-logo {
    width: 40%;
    flex-direction: column;

    &__year {
        font-size: 1rem;
        font-weight: lighter;
        line-height: 1.5rem;
        margin-top: 1rem;
    }

    span {
      margin-top: 0.5rem;
    }

    @media(max-width: $large) {
      width: 100%;
    }
  }

  &-right {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: right;

    @media(max-width: $large) { 
      width: 100%;
    }
  }

  @media(max-width: $large) {
    flex-direction: column;
  }
}
