@import '../components/promo-callback.scss';
@import '../components/promo-block.scss';

.promo {
  display: flex;
  justify-content: space-between;
  padding-top: 6rem;

  @media(max-width: $large) {
    flex-direction: column;
    align-items: center;
  }
}
