@import './abstracts/variables';
@import './base/fonts';

@import './layout/header.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  background: green;
  padding-top: 2rem;
  padding-left: 10rem;
  padding-right: 10rem;
}